@import url("./variables.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /* TÍTULOS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* SUBTITULOS - RESALTAR */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); /* TEXTO */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--lightMode_fondo);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, serif;
    position: relative;
}


/* HEADER */
#encabezado {
    display: var(--gridbox);
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .7);
    grid-template-columns: auto;
    grid-template-rows: repeat(10, auto);
    grid-template-areas:    "menuHeader"
                            "menuHeader"
                            "menuHeader"
                            "infoHeader"
                            "infoHeader"
                            "infoHeader"
                            "infoHeader"
                            "infoHeader"
                            "infoHeader"
                            "infoHeader";
    user-select: var(--desabilitado);
}

.videoFondo {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
}

.sidebar, .menu_navbar, .sbMenu {
    display: var(--desabilitado);
}

.menu {
    display: var(--flexbox);
    justify-content: space-between;
    align-items: center;
    grid-area: menuHeader;
}

.menu_titulo {
    color: var(--darkMode_textoPrincipal);
    text-align: center;
    font-weight: 700;
    font-family: var(--tipografia_titulo);
}

.menu_icon {
    display: none;
}

.menu_navbar {
    display: var(--flexbox);
    flex-direction: row;
}

.mn_lista {
    list-style: var(--desabilitado);
}

.mn_lista-item {
    display: inline-block;
}

.mn_lista-item a {
    text-decoration: var(--desabilitado);
    color: var(--darkMode_textoMenu);
    transition: all .15s ease-in;
}

.mn_lista-item a:hover {
    text-shadow: 0 0 4px rgba(224, 240, 255, .7);
}

.mn_lista-item a:active {
    color: var(--lightMode_textCard);
    text-shadow: var(--desabilitado);
}

.sidebar_btn {
    display: var(--flexbox);
    justify-content: center;
    align-items: flex-start;
    background-color: transparent !important;
    border: var(--desabilitado);
    color: var(--darkMode_textoPrincipal);
    cursor: pointer;
}

.infoHeader {
    display: var(--flexbox);
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    grid-area: infoHeader;
    color: var(--darkMode_textoPrincipal);
    font-family: var(--tipografia_subtitulo);
}

.infoHeader_titulo {
    font-weight: 700;
    font-family: var(--tipografia_titulo);
}

.infoHeader_btn {
    text-align: center;
    font-weight: 700;
    border: var(--desabilitado);
    background: linear-gradient(165deg, #a2d2ff, #378afa);
    cursor: pointer;
    position: relative;
}

.infoHeader_btn a {
    text-decoration: var(--desabilitado);
    color: #162755;
}

.infoHeader_btn::after {
    display: var(--flexbox);
    content: 'Registrarse';
    background: linear-gradient(165deg, #bedeff, #5dacfd);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all .15s ease-in;
    justify-content: center;
    align-items: center;
    color: #162755;
}

.infoHeader_btn:hover::after {
    opacity: 1;
}

.infoHeader_btn:active {
    background: linear-gradient(165deg, #5dacfd, #216bef);
}

.infoHeader_btn:active::after {
    opacity: 0;
}

.infoHeader_btn:disabled {
    background: linear-gradient(165deg, #1955dc, #1c3e8c);
}

.infoHeader_btn:disabled::after {
    opacity: 0;
}

.infoHeader_btn:disabled > a {
    color: #daecff;
}

.infoHeader_btn-signUp {
    z-index: 100;
}


/* MAIN */
#principal {
    display: var(--flexbox);
    flex-direction: column;
}

.info {
    display: var(--gridbox);
}

.articulo1, .articulo2, .articulo3 {
    display: var(--flexbox);
    flex-direction: column;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(4px);
}

.articulo1_img, .articulo2_img, .articulo3_img {
    width: 100%;
}


/* FOOTER */




/* RESPONSIVE 240px -> Celulares pequeños (Galaxy Fold) */
@media (max-width: 280px) {
    body {
        font-size: 12px;
    }

    .sidebar {
        display: var(--flexbox);
    }

    .menu_navbar {
        display: var(--desabilitado);
    }

    #encabezado, .videoFondo {
        height: 25.65rem;
    }

    .menu {
        padding: 2rem 1.25rem;
    }

    .menu_titulo {
        font-size: 24px;
        letter-spacing: 1.62px;
    }

    .infoHeader {
        padding: 0 1.5rem 3.125rem 1.5rem;
        margin-right: 1rem;
    }

    .infoHeader_titulo {
        font-size: 24px;
        margin-bottom: .3rem;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        margin-bottom: 1rem;
    }

    .infoHeader_btn {
        font-size: 14px;
        padding: 1rem 2rem;
        border-radius: .5rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: .5rem;
        letter-spacing: 1px;
    }

    
    /* MAIN - RESPONSIVE */
    #principal {
        padding: 1rem;
    }

    .info {
        gap: 2rem;
        grid-template-columns: auto;
        grid-template-rows: repeat(9, auto);
        grid-template-areas:    "articulo1"
                                "articulo1"
                                "articulo1"
                                "articulo2"
                                "articulo2"
                                "articulo2"
                                "articulo3"
                                "articulo3"
                                "articulo3";
    }

    .articulo1 {
        grid-area: articulo1;
    }

    .articulo2 {
        grid-area: articulo2;
    }

    .articulo3 {
        grid-area: articulo3;
    }

    .articulo1, .articulo2, .articulo3 {
        gap: .55rem;
        border-radius: .5rem;
    }

    .articulo1_titulo, .articulo2_titulo, .articulo3_titulo {
        font-size: 20px;
        padding: .5rem 1rem;
    }

    .articulo1_parrafo, .articulo2_parrafo, .articulo3_parrafo {
        padding: 0 1rem;
    }

    .articulo1_btnLeerMas, .articulo2_btnLeerMas, .articulo3_btnLeerMas {
        display: var(--flexbox);
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 2rem;
        margin: 1rem auto;
        border: none;
        border-radius: 6px;
        background: linear-gradient(100deg, #90cbff, #368cfb);
        color: #152856;
        cursor: pointer;
        position: relative;
        transition: all .2s ease-in-out;
    }

    .articulo1_btnLeerMas:hover::before, .articulo2_btnLeerMas:hover::before, .articulo3_btnLeerMas:hover::before {
        content: "Leer más";
        display: var(--flexbox);
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(100deg, #bddfff, #5caefe);
        box-shadow: 0 0 8px rgba(255, 255, 255, .35);
        border-radius: 6px;
    }

    .articulo1_btnLeerMas:active, .articulo2_btnLeerMas:active, .articulo3_btnLeerMas:active {
        background: linear-gradient(100deg, #5caefe, #1f6df1);
    }
}

/* RESPONSIVE 320px -> Celulares */
@media (min-width: 281px) and (max-width: 319px) {
    body {
        font-size: 14px;
    }

    .sidebar {
        display: var(--flexbox);
    }

    .menu_navbar {
        display: var(--desabilitado);
    }

    #encabezado, .videoFondo {
        height: 26.65rem;
    }

    .menu {
        padding: 2rem 1.25rem;
    }

    .menu_titulo {
        font-size: 24px;
        letter-spacing: 1.62px;
    }

    .menu_icon {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-image: url("./../img/icon.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .infoHeader {
        padding: 0 1.5rem 1.75rem 1.5rem;
        margin-right: 1.25rem;
    }

    .infoHeader_titulo {
        font-size: 28px;
        margin-bottom: .3rem;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        margin-bottom: 1rem;
    }

    .infoHeader_btn {
        font-size: 14px;
        padding: 1rem 2rem;
        border-radius: .5rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: .5rem;
        letter-spacing: 1px;
    }
}

/* RESPONSIVE 480px -> Celulares grandes y tablets pequeñas */
@media (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: 16px;
    }

    .sidebar {
        display: var(--flexbox);
    }

    .menu_navbar {
        display: var(--desabilitado);
    }

    #encabezado, .videoFondo {
        height: 30rem;
    }

    .menu {
        padding: 2rem 1.25rem;
    }

    .menu_titulo {
        font-size: 28px;
        letter-spacing: 1.62px;
    }

    .menu_icon {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-image: url("./../img/icon.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .infoHeader {
        padding: 0 1.5rem 1.75rem 1.5rem;
        margin-right: 1.75rem;
    }

    .infoHeader_titulo {
        font-size: 32px;
        margin-bottom: .3rem;
        letter-spacing: 1.4px;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        letter-spacing: .75px;
        margin-bottom: 1rem;
    }

    .infoHeader_btn {
        font-size: 14px;
        padding: 1rem 2rem;
        border-radius: .5rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: .5rem;
        letter-spacing: 1px;
    }
}

/* RESPONSIVE 768px -> Tablets*/
@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .sidebar {
        display: var(--flexbox);
    }

    .menu_navbar {
        display: var(--desabilitado);
    }

    .sidebar_btn, .sidebar_btn svg {
        width: 3rem;
        height: 3rem;
    }

    #encabezado, .videoFondo {
        height: 36.575rem;
    }

    .menu {
        padding: 2rem 1.25rem;
    }

    .menu_titulo {
        font-size: 36px;
        letter-spacing: 1.62px;
    }

    .menu_icon {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-image: url("./../img/icon.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .infoHeader {
        padding: 0 1.5rem 1.75rem 1.5rem;
        margin-right: 5.25rem;
    }

    .infoHeader_titulo {
        font-size: 36px;
        margin-bottom: .3rem;
        letter-spacing: 1.4px;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        letter-spacing: .75px;
        margin-bottom: 1rem;
    }

    .infoHeader_btn {
        font-size: 14px;
        padding: 1rem 2rem;
        border-radius: .5rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: .5rem;
        letter-spacing: 1px;
    }
}

/* RESPONSIVE 960px -> Tablets grandes y portátiles pequeños */
@media (min-width: 769px) and (max-width: 960px) {
    body {
        font-size: 20px;
    }

    .mn_lista-item {
        margin-right: 2.5rem;
    }

    .mn_lista-item:last-child {
        margin: 0;
    }

    .mn_lista-item a:hover {
        font-size: calc(20px + 2.45px);
    }

    .sidebar_btn, .sidebar_btn svg {
        width: 3.75rem;
        height: 3.75rem;
    }

    #encabezado, .videoFondo {
        height: 39rem;
    }

    .menu {
        padding: 2rem;
    }

    .menu_titulo {
        font-size: 40px;
        letter-spacing: 1.62px;
    }

    .infoHeader {
        padding: 0 1.5rem 1.75rem 2.5rem;
        margin-right: 18rem;
    }

    .infoHeader_titulo {
        font-size: 40px;
        margin-bottom: .3rem;
        letter-spacing: 1.4px;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        letter-spacing: .75px;
        margin-bottom: 2rem;
    }

    .infoHeader_btn {
        font-size: 20px;
        padding: 1.25rem 2.5rem;
        border-radius: .5rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: .5rem;
        letter-spacing: 1px;
    }
}

/* RESPONSIVE 1024px -> Portátiles y Monitores pequeños */
@media (min-width: 961px) and (max-width: 1024px) {
    body {
        font-size: 20px;
    }

    .mn_lista-item {
        margin-right: 2.5rem;
    }

    .mn_lista-item:last-child {
        margin: 0;
    }

    .mn_lista-item a {
        text-decoration: var(--desabilitado);
        color: var(--darkMode_textoMenu);
        transition: all .15s ease-in;
    }

    .mn_lista-item a:hover {
        text-shadow: 0 0 4px rgba(224, 240, 255, .7);
        font-size: calc(20px + 2.45px);
    }

    .mn_lista-item a:active {
        color: var(--lightMode_textCard);
        text-shadow: var(--desabilitado);
    }

    #encabezado, .videoFondo {
        height: 41.5rem;
    }

    .menu {
        padding: 1.5rem;
    }

    .menu_titulo {
        font-size: 40px;
        letter-spacing: 1.62px;
    }

    .infoHeader {
        padding: 0 1.5rem 1.75rem 2.5rem;
        margin-right: 28rem;
    }

    .infoHeader_titulo {
        font-size: 40px;
        margin-bottom: .3rem;
        letter-spacing: 1.4px;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        letter-spacing: .75px;
        margin-bottom: 2.5rem;
    }

    .infoHeader_btn {
        font-size: 20px;
        padding: 1.25rem 2.5rem;
        border-radius: .5rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: .5rem;
        letter-spacing: 1px;
    }
}

/* RESPONSIVE 1328px -> Monitores y portátiles grandes */
@media (min-width: 1025px) and (max-width: 1328px) {
    body {
        font-size: 22px;
    }

    .mn_lista-item {
        margin-right: 2.5rem;
    }

    .mn_lista-item:last-child {
        margin: 0;
    }

    .mn_lista-item a:hover {
        font-size: calc(22px + 2.45px);
    }

    #encabezado, .videoFondo {
        height: 50rem;
    }

    .menu {
        padding: 1rem 2rem;
    }

    .menu_titulo {
        font-size: 44px;
        letter-spacing: 1.62px;
    }

    .infoHeader {
        padding: 0 1.5rem 1.75rem 2.5rem;
        margin-right: 28rem;
    }

    .infoHeader_titulo {
        font-size: 44px;
        margin-bottom: .3rem;
        letter-spacing: 1.4px;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        letter-spacing: .75px;
        margin-bottom: 2.5rem;
    }

    .infoHeader_btn {
        font-size: 24px;
        padding: 1.25rem 2.5rem;
        border-radius: 1rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: 1rem;
        letter-spacing: 1px;
    }
}

/* RESPONSIVE 1440px -> Portátiles grandes y FHD */
@media (min-width:1329px) and (max-width: 1500px) {
    body {
        font-size: 22px;
    }

    .mn_lista-item {
        margin-right: 2.5rem;
    }

    .mn_lista-item:last-child {
        margin: 0;
    }

    .mn_lista-item a:hover {
        font-size: calc(22px + 2.45px);
    }

    #encabezado, .videoFondo {
        height: 54rem;
    }

    .menu {
        padding: 1rem 2rem;
    }

    .menu_titulo {
        font-size: 44px;
        letter-spacing: 1.62px;
    }

    .infoHeader {
        padding: 0 1.5rem 1.75rem 2.5rem;
        margin-right: 28rem;
    }

    .infoHeader_titulo {
        font-size: 44px;
        margin-bottom: .3rem;
        letter-spacing: 1.4px;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        letter-spacing: .75px;
        margin-bottom: 2.5rem;
    }

    .infoHeader_btn {
        font-size: 24px;
        padding: 1.25rem 2.5rem;
        border-radius: 1rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: 1rem;
        letter-spacing: 1px;
    }
}

/* RESPONSIVE 1920px -> Pantallas grandes y TV (FullHD+) */
@media (min-width: 1501px) and (max-width: 1920px) {
    body {
        font-size: 22px;
    }

    .mn_lista-item {
        margin-right: 3.5rem;
    }

    .mn_lista-item:last-child {
        margin: 0;
    }

    .mn_lista-item a:hover {
        font-size: calc(22px + 2.45px);
    }

    #encabezado, .videoFondo {
        height: 68.5rem;
    }

    .menu {
        padding: 0 2rem;
    }

    .menu_titulo {
        font-size: 44px;
        letter-spacing: 1.62px;
    }

    .infoHeader {
        padding: 0 1.5rem 1.75rem 2.5rem;
        margin-right: 58rem;
    }

    .infoHeader_titulo {
        font-size: 44px;
        margin-bottom: .3rem;
        letter-spacing: 1.4px;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        letter-spacing: .75px;
        margin-bottom: 3rem;
    }

    .infoHeader_btn {
        font-size: 28px;
        padding: 1.5rem 2.75rem;
        border-radius: 1rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: 1rem;
        letter-spacing: 1px;
    }
}

/* RESPONSIVE >1920 -> FullHD+ a 4k */
@media (min-width: 1921px) {
    body {
        font-size: 24px;
    }

    .mn_lista-item {
        margin-right: 3.5rem;
    }

    .mn_lista-item:last-child {
        margin: 0;
    }

    .mn_lista-item a:hover {
        font-size: calc(22px + 2.45px);
    }

    #encabezado, .videoFondo {
        height: 68.5rem;
    }

    .menu {
        padding: 0 2rem;
    }

    .menu_titulo {
        font-size: 48px;
        letter-spacing: 1.62px;
    }

    .infoHeader {
        padding: 0 1.5rem 1.75rem 2.5rem;
        margin-right: 75rem;
    }

    .infoHeader_titulo {
        font-size: 48px;
        margin-bottom: .3rem;
        letter-spacing: 1.4px;
    }

    .infoHeader_parrafo {
        line-height: 1.4em;
        letter-spacing: .75px;
        margin-bottom: 3rem;
    }

    .infoHeader_btn {
        font-size: 28px;
        padding: 1.5rem 2.75rem;
        border-radius: 1rem;
        box-shadow: 0 0 6px rgba(255, 255, 255, .45);
    }

    .infoHeader_btn a {
        letter-spacing: 1px;
    }

    .infoHeader_btn::after {
        border-radius: 1rem;
        letter-spacing: 1px;
    }
}