@import url("./variables.css");
@import url("./tipografia.css");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--tipografia_texto);
    background-color: var(--lightMode_fondo);
    position: relative;
}


#encabezado {
    display: var(--flexbox);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--lightMode_fondo);
    border: 1px solid #000;

    & .encabezado_titulo {
        font-variant: small-caps;
        text-transform: capitalize;
    }

    & .encabezado_imagen {
        border-radius: 50%;
        font-family: var(--tipografia_titulo);
        cursor: pointer;
    }
}

#principal {
    display: var(--flexbox);
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #000;

    & .agregarTarea {
        display: var(--flexbox);
        flex-direction: column;
        gap: 1.5rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 65vh;
        z-index: 100;
        background-color: var(--darkMode_textoSecundario);
        color: var(--lightMode_textoPrincipal);
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, .25),
                    0 0 0 1000px rgba(0, 0, 0, .85),
                    inset 0 0 8px 1px rgba(0, 0, 0, .65);
        overflow: auto;
        padding: 1rem;
        border-radius: 10px;
        scrollbar-width: var(--desabilitado);

        &::-webkit-scrollbar {
            display: var(--desabilitado);
        }

        & .agregarTarea_titulo {
            text-align: center;
            font-size: 18px;
            font-variant: small-caps;
            text-transform: capitalize;
            height: 1.5rem;
            font-weight: 500;
            
            & .animacionTitulo {
                display: var(--flexbox);
                justify-content: center;
                overflow: hidden;
                height: inherit;

                & .animacionTitulo_sujeto {
                    display: inline;
                    float: left;
                    margin-right: .5rem;
                }

                & .animacionTitulo_predicado {
                    list-style: var(--desabilitado);
                    text-align: left;
                    animation: 10s linear 0s normal none infinite change;
                    -webkit-animation: 10s linear 0s normal none infinite chage;
                    -moz-animation: 10s linear 1s normal none infinite change;
                    -o-animation: 10s linear 0s normal none infinite change;
                }
            }
        }

        & .principal_separacion {
            width: 65%;
            align-self: center;
            border: 1px solid rgb(161, 160, 160);
            border-radius: 25px;
            margin-top: -10px;
        }

        & .formulario {
            display: var(--flexbox);
            flex-direction: column;
            gap: 1rem;

            & .formulario_nombre {
                & label {
                    letter-spacing: .5px;
                    cursor: pointer;
                    font-weight: 500;
                }

                & input {
                    display: var(--flexbox);
                    margin-top: .375rem;
                    width: 100%;
                    height: 2.24rem;
                    padding: 0 .4rem;
                    border: var(--desabilitado);
                    border-radius: 8px;
                    background-color: #93c5fd;
                    color: #172554;
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                    outline: var(--desabilitado);
                    transition: .3s all ease-in-out;

                    &::placeholder {
                        color: #000;
                    }

                    &:focus {
                        border: 2px solid #3b82f6;
                        background-color: #60a5fa;
                    }
                }
            }

            & .formulario_descripcion {
                & label {
                    letter-spacing: .5px;
                    cursor: pointer;
                    font-weight: 500;
                }

                & textarea {
                    margin-top: .375rem;
                    width: 100%;
                    height: 5rem;
                }
            }
        }
    }
}

@keyframes change {
    0% { margin-top: 0px; }
    15% { margin-top: 0px; }
    25% { margin-top: calc(-1 * (1.5rem + 1px)); }
    40% { margin-top: calc(-1 * (1.5rem + 1px)); }
    50% { margin-top: calc((-1 * (1.5rem + 1px)) * 2); }
    65% { margin-top: calc((-1 * (1.5rem + 1px)) * 2); }
    75% { margin-top: calc(-1 * (1.5rem + 1px)); }
    85% { margin-top: calc(calc(-1 * (1.5rem + 1px))); }
    100% { margin-top: calc(0px); }
}


@media (max-width: 280px) {
    body {
        font-size: 12px;
    }

    #encabezado {
        padding: 1rem;
        
        & .encabezado_titulo {
            letter-spacing: .5px;
            font-weight: 600;
        }

        & .encabezado_imagen {
            width: 3rem;
            height: 3rem;
        }
    }

    #principal {
        margin-top: calc(82px + 1rem);
        gap: 1.5rem;
    }
}