@import url("./variables.css");
@import url("./tipografia.css");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--tipografia_texto);
    background-color: var(--lightMode_fondo);
    position: relative;
}


#encabezado {
    display: var(--flexbox);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--lightMode_fondo);
    border: 1px solid #000;

    & .encabezado_titulo {
        font-variant: small-caps;
        text-transform: capitalize;
    }

    & .encabezado_imagen {
        border-radius: 50%;
        font-family: var(--tipografia_titulo);
        cursor: pointer;
    }
}

#principal {
    display: var(--flexbox);
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #000;

    & .agregarTarea {
        display: var(--flexbox);
        flex-direction: column;
        gap: 1.5rem;
        border: 1px solid #000;
    }
}



@media (max-width: 280px) {
    body {
        font-size: 12px;
    }

    #encabezado {
        padding: 1rem;
        
        & .encabezado_titulo {
            letter-spacing: 1px;
            font-weight: 600;
        }

        & .encabezado_imagen {
            width: 3rem;
            height: 3rem;
        }
    }

    #principal {
        margin-top: calc(82px + 1rem);
        gap: 1.5rem;
    }
}