@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');  /* Títulos */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');  /* Subtítulos */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');  /* Texto Alternativa Principal */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');  /* Texto Alternativa Secundaria */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');  /* Resaltar texto y Alternativa Terciaria */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', 'Poppins', 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif, serif;
    background-color: #082f49;
    color: #f0f9ff;
}

#encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.25rem 1.5rem;
}

.encabezado_titulo {
    text-transform: uppercase;
    font-family: 'Preahvihear', 'Roboto', 'Open Sans', 'Poppins', 'Ubuntu', Arial, Helvetica, sans-serif, serif;
    letter-spacing: 4px;
}



#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;  /* Eliminar luego */
}

.combate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;  /* Eliminar luego */
}

#miPokemon, #cpuPokemon {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    border: 1px solid #fff;  /* Eliminar luego */
}

#miPokemon {
    color: #38bdf8;
}

.miPokemon_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.75rem;
    font-weight: bold;
    font-family: 'Roboto', 'Preahvihear', 'Open Sans', 'Poppins', 'Ubuntu', Arial, Helvetica, sans-serif, serif;
    border-radius: .4rem;
    margin: 1rem;
    margin-bottom: 0;
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 95%;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, .7);
    position: relative;
}

.miPokemon_btn--user {
    background: linear-gradient(100deg, #7dd3fc, #0ea5e9);
    color: #082f49;
    border: 2px solid #0371c0;
    cursor: pointer;
}

.miPokemon_btn--user::before {
    content: 'Mi Pokemón';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(100deg, #bae6fd, #38bdf8);
    border-radius: .4rem;
    font-size: 105%;
    transition: all .125s ease-in;
}

.miPokemon_btn:hover::before {
    opacity: 1;
}

.miPokemon_btn--user:active {
    background: linear-gradient(100deg, #38bdf8, #0284c7);
    font-size: 100%;
}

.miPokemon_btn:active::before {
    opacity: 0;
}

.miPokemon_img {
    width: 16rem;
    height: 16rem;
    border: 2px solid rgba(255, 255, 255, .18);
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, .25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin-bottom: 1rem;
}

.miPokemon_infoText {
    margin-left: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: .25rem;
}

.miPokemon_infoText:nth-child(2) {
    font-weight: normal;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.miPokemon_infoText:nth-child(2)::before {
    content: 'Nombre: ';
    font-weight: bold;
}

#btnFigth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2.75rem;
    background: linear-gradient(100deg, #fca5a5, #ef4444);
    color: #450a0a;
    font-weight: bold;
    font-family: 'Roboto', 'Preahvihear', 'Open Sans', 'Poppins', 'Ubuntu', Arial, Helvetica, sans-serif, serif;
    border: 2px solid #feb6b6;
    border-radius: .4rem;
    margin: 1rem;
    margin-bottom: 0;
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 95%;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, .7);
    position: relative;
    cursor: pointer;
}

#btnFigth::before {
    content: 'Figth';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(100deg, #fecaca, #f87171);
    border-radius: .4rem;
    font-size: 105%;
    transition: all .125s ease-in;
}

#btnFigth:hover::before {
    opacity: 1;
}

#btnFigth:active {
    background: linear-gradient(100deg, #f87171, #dc2626);
    font-size: 100%;
}

#btnFigth:active::before {
    opacity: 0;
}

.miPokemon_btn--cpu {
    background: linear-gradient(100deg, #a5e194, #51b037);
    color: #0f290a;
    border: 2px solid #a2d98d;
    user-select: none;
}

.cpuPokemon_info {
    color: #75cb5d;
}