@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001219;
    color: #e9d8a6;
    font-family: 'Inter', Arial, Helvetica, sans-serif, serif;
    font-size: 16px;
}

h1 {
    padding: 1.5rem 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;

    .target {
        display: flex;
        
        background-color: rgba(255, 255, 255, .65);
        box-shadow: inset 0 0 8px rgba(0, 0, 0, .75);
        border-radius: 10px;
        width: calc((100vw / 3) - 1rem);
        margin: .5rem;

        & .target_img {
            width: 100%;
            border-radius: 8px;
        }
    
        & .target_name {
            user-select: none;
        }
    
        & .target_status {
            user-select: none;
        }
    }
}